body {
	background: #eee;
	color: #708D91;
	text-shadow: 0 1px 1px white;
}

.name {
	display: inline;
	padding: 0 20px;
	text-transform: uppercase;
	font-size: 48pt;
	background: #556270;
	font-family: 'Oswald', Verdana, sans-serif;
	color: white;
	text-shadow: 1px 1px 3px #444;
	text-shadow: 1px 1px 3px rgba(0,0,0,.25);
	border-radius: 3px;
}

.offsetleft {
	margin: 20px;
}

.subline {
	font-style: italic;
}

.intro {
	font-size: 1.5rem;
	max-width: 40rem;
	line-height: 2rem;
}

a {
	text-decoration: none;
	color: #4ECDC4;
	padding: 3px;
	
	-webkit-transition-property: color, background;
	-webkit-transition-duration: 0.3s;

	-moz-transition-property: color, background;
	-moz-transition-duration: 0.3s;

	-o-transition-property: color, background;
	-o-transition-duration: 0.3s;

	-ms-transition-property: color, background;
	-ms-transition-duration: 0.3s;


}

a:hover {
	color: white;
	background: #4ECDC4;
	text-shadow: none;
}

h2 {
	display: inline;
	padding: 10px;
	border-left: 5px solid #4ECDC4;
}

h3 {
	font-weight: normal;
}

.footer-container {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 10px;
	border-top: 1px solid #ccc;
}
.footer {
	display: block;
	text-align: center;
	font-style: italic;
	margin-bottom: 10px;
}

.separator {
	margin: auto;
	text-align: center;
	height: 100px;
	font-size: 2rem;
}