.l-centered {
	text-align: center;
}

.banner {
	margin: 10px;
}

.name {
	background-color: #78A3D1;
}

.slicereader-icon {
	width: 128px;
	height: 128px;
	display: block;
	float: left;
	margin-top: -5px;
}

.display {
	width: 100%;
}
.content {
	width: 960px;
	height: 640px;
}

.small-notice {
	font-size: 0.75em;
	font-style: italic;
}

h3 {
	font-weight: bold;
	border-bottom: 1px solid #78A3D1;
	display: inline;
}

blockquote {
	font-size: 1.25rem;
	font-style: italic;
}

pre {
	display: inline;
	color: #78A3D1;
}

.sysreq {
	font-size: 0.5rem;
}

.padded {
	padding: 1.3rem;
}

p {
	line-height: 1.5rem;
}

.pure-button {
	color: white;
	text-shadow: 0px 1px rgba(0,0,0,.25);
	background: #98C3F1;
}

.appdownload {
	font-weight: bold;
}

.featureimage {
	max-width: 75% !important;
}

a.appdownload:hover {
	background: transparent !important;
}